

/* RESPONSIVENESS */

/* Mini screens */
@media (max-width: 400px) {
  .middleSection {
    padding-right: 15px;
    height: 50vh;
  }

  .fontLogo1, .fontLogo2 {
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 0;
  }

  .logoOne {
    width: 5rem;
    height: auto;
    margin-left: 10px;
    padding-right: 0;
  }

  .navDown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .group-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-right: 0;
  }

  .textRight {
    margin: 2vh 0 0 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.3em;
  }

  /* Centrowanie textLeft */
  .textLeft {
    font-size: 0.8em;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

/* Small screens */
@media (max-width: 550px) {
  .middleSection {
    padding-right: 15px;
    height: 75vh;
  }

  .fontLogo1, .fontLogo2 {
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 0;
  }

  .logoOne {
    width: 5rem;
    height: auto;
    margin-left: 10px;
    padding-right: 0;
  }

  .navDown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .group-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-right: 0;
  }

  .textRight {
    margin: 2vh 0 0 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.3em;
  }

  /* Centrowanie textLeft */
  .textLeft {
    font-size: 0.8em;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

/* Small-medium screens */
@media (min-width: 551px) and (max-width: 750px) {
  .fontLogo1, .fontLogo2 {
    font-size: 3.5rem;
  }

  .logoOne {
    width: 8.5rem;
    height: auto;
  }

  .textLeft {
    font-size: 0.8em;
    text-align: left;
    margin-left: 2%;
  }

  .group-right {
    gap: 2vh;
    margin-right: 4vh;
  }
}

/* Medium screens */
@media (min-width: 751px) and (max-width: 900px) {
  .fontLogo1, .fontLogo2 {
    font-size: 3rem;
  }

  .logoOne {
    width: 8.5rem;
    height: auto;
  }

  .group-right {
    gap: 2vh;
    margin-right: 4vh;
  }

  .textLeft {
    font-size: 0.8em;
    text-align: left;
    margin-left: 2%;
  }
}

/* Big screens */
@media (min-width: 901px) {
  .fontLogo1, .fontLogo2{
    font-size: 3rem;

  }

}
