@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --brand-cream: #f1efee;
  --brand-grey: #7c7c7c;
  --brand-caramel: #caa88e;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Fahkwang', sans-serif;
  --font-decorational: 'Cormorant Garamond', serif;

  max-width: 1521px;
  max-height: 743px;
  cursor: url('../assets/kursor.png'), auto; 

}



body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* Zapobiega przewijaniu poziomemu */
  overflow-y: auto;
  /* Umożliwia przewijanie pionowe */
}

* {
  box-sizing: border-box;
}



#body {
  margin: 0;
  padding: 0;
  background-color: white;

}


/* NAVIGATION BAR TOP */

.navUp {
  display: flex;
  flex-direction: row;
  height: 5vh;
  align-items: center;
  justify-content: flex-end;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 3%;
  gap: 10px;
}


.fontNavUp {
  font-family: var(--font-primary);
  font-size: 1em;
  color: var(--brand-grey)
}


/* NAVIGATION BAR BOTTOM */

.navDown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 0.5vh;
}



.textLeft {
  font-family: var(--font-primary);
  font-size: 1em;
  color: var(--brand-grey);

}

.group-right {
  display: flex;
  flex-direction: row;
  gap: 5vh;
  margin-right: 10vh;
}


.textRight {
  margin-top: 1vh;
  font-family: var(--font-decorational);
  font-weight: 600;
  font-size: 1.5em;
  color: var(--brand-caramel);
  transition: transform 0.3s ease-in-out; /* Płynne przejście */
}

.textRight {
  display: inline-block; /* Umożliwia stosowanie transformacji */
  transition: transform 0.2s ease-in-out; /* Płynne przejście */
  transform-style: preserve-3d; /* Umożliwia efekty 3D */
}

/* Definiowanie animacji */
@keyframes rotateBack {
  0% {
    transform: rotateY(0deg); /* Początkowy stan */
  }
  50% {
    transform: rotateY(180deg); /* Obrót o 180 stopni */
  }
  100% {
    transform: rotateY(0deg); /* Końcowy stan (wraca do początkowego) */
  }
}

/* Styl dla hoveru */
.textRight:hover {
  animation: rotateBack 2s ease-in-out infinite; /* Uruchom animację przy hoverze */
}


/* PAGE ONE */

.pageOne {
  background-color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.middleSection {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 85vh;
  background: linear-gradient(var(--gradient-angle, 113deg), rgb(255, 255, 255), rgba(241, 239, 238, 0.326)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 247 247' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.14' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: cover;
  border-radius: 10px;
  margin: 0 auto;
  filter: contrast(100%) brightness(95%);
  transition: background 0.3s ease, filter 0.3s ease;
}



.fontLogo1,
.fontLogo2 {
  font-family: var(--font-secondary);
  font-size: 4rem;
  font-weight: 300;
  padding-bottom: 9vh;


}

@keyframes shadowPulse {

  0%,
  100% {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  }

  50% {
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.8));
  }
}

.logoOne {
  width: 12rem;
  height: auto;
  padding-left: 3vh;
  padding-right: 4vh;

  /* Apply the shadow pulse animation */
  animation: shadowPulse 4s ease-in-out infinite;
}

.mI:hover{
  font-weight: bold;
}
/* PAGE TWO */


.pageTwo {
  background: linear-gradient(-67deg, rgb(255, 255, 255), rgba(241, 239, 238, 0.326)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 247 247' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.14' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.logoPage2 {
  width: 8vh;
  height: auto;
  margin-bottom: 1rem;
}


.logoPage2 {
  width: 8vh; /* Dostosuj szerokość do wymagań */
  height: auto; /* Utrzymuje proporcje */
  margin-bottom: 1rem;
  transition: transform 0.6s ease, filter 0.6s ease; /* Płynne przejście dla transformacji i filtrów */
  transform-origin: bottom center; /* Ustawia punkt transformacji na dół logo */
}

.logoMenu {
  width: 8vh; /* Dostosuj szerokość do wymagań */
  height: auto; /* Utrzymuje proporcje */
  margin-bottom: 1rem;
  transition: color 0.6s ease, transform 0.6s ease; /* Płynne przejście dla koloru i transformacji */
  color: var(--brand-grey); /* Początkowy kolor logo */
}

.logoMenu:hover {
  color: var(--brand-caramel); /* Zmiana koloru podczas hoveru */
  transform: scale(1.1); /* Skalowanie o 10% */
}

.containerTwo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 85vh;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
}

.navPage2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  padding-top: 5rem;
}

.listPage2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.numberPage2 {
  font-family: var(--font-secondary);
  color: var(--brand-cream);
  font-size: 1rem;

}

.menuItem {
  font-family: var(--font-secondary);
  color: var(--brand-grey);
}


.about {
  background-image: url("src/assets/motylbw.png");
  background-size: cover;
  /* Resize the background image to cover the entire container */
  width: 80%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.description {
  font-family: var(--font-primary);
  color: white;
  width: 50vh;
  height: fit-content;
  margin-top: 60vh;
  margin-left: 50vh;
  background-color: var(--brand-caramel);
}



/* PAGE THREE */


.pageThree {
  background: linear-gradient(var(--gradient-angle, 113deg), rgb(255, 255, 255), rgba(241, 239, 238, 0.326)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 247 247' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.14' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}


.containerThree {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 85vh;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  background-color: transparent;
  border-style: solid;
  border-color: #f1efee;
  border-width: 2px;

  position: relative;
  /* Dodane, aby umożliwić absolutne pozycjonowanie obrazka */

}


.diagonal1 {
  position: absolute;
  top: 50%;
  /* Ustala górną krawędź obrazka na środku kontenera */
  right: 0;
  width: 15rem;
  /* Możesz dostosować szerokość obrazka */
  height: auto;
  /* Automatyczna wysokość, aby zachować proporcje */
  object-fit: cover;
  transform: rotate(65deg) translateY(-15%) translateX(50%);
  /* Obraca obrazek o 65 stopni, przesuwa w górę o 15% wysokości obrazka i w prawo o 50% szerokości obrazka */
  transform-origin: top right;
  /* Ustala punkt obrotu na górny prawy róg */
  z-index: 1;
  /* Umieszcza obrazek nad innymi elementami */
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  /* Opcjonalne przycinanie, aby dopasować kształt obrazka */
  opacity: 0.5;
  /* Ustala przezroczystość obrazka na 50% */
}


.navPage3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  padding-top: 5rem;
}

.logoPage3 {
  width: 8vh;
  height: auto;
  margin-bottom: 1rem;
}

.listPage3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.numberPage3 {
  font-family: var(--font-secondary);
  color: var(--brand-caramel);
  font-size: 1rem;
  text-align: center;
  /* Ustawia wyrównanie tekstu do środka */
}

.aboutSkill {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding-left: 18vh;
  margin-top: -10.5rem;
  gap: 6rem;

}

ul {
  padding-left: 0;
  color: var(--brand-grey);
  font-family: var(--font-decorational);
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 2rem;

}

li {
  list-style-type: none;
  font-family: var(--font-primary);
  font-size: 0.9rem;
  margin-bottom: 5px;
  padding-left: 0.5rem;
  
}

.liSpecial {
  margin-left: -45px;
}

.colorChange {
  color: var(--brand-caramel)
}





/* PAGE FOUR */


.pageFour {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Ensure no overflow */
}

.pageFour::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--gradient-angle, 113deg), rgb(255, 255, 255), rgba(241, 239, 238, 0.326)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 247 247' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.14' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: cover;
  transform: scaleY(-1);
  /* Flip the background vertically */
  z-index: -1;
  /* Ensure it’s behind any content */
}


.containerFour {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 85vh;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  background-color: transparent;
  border-style: solid;
  border-color: #f1efee;
  border-width: 2px;

  position: relative;
  /* Dodane, aby umożliwić absolutne pozycjonowanie obrazka */

}



.diagonal2 {
  position: absolute;
  top: -50%;
  /* Przesuwa obrazek wyżej, niż górna krawędź kontenera */
  right: 0;
  width: 15rem;
  /* Możesz dostosować szerokość obrazka */
  height: auto;
  /* Automatyczna wysokość, aby zachować proporcje */
  object-fit: cover;
  transform: rotate(65deg) translateY(11.85%) translateX(6%);
  /* Obraca obrazek o 65 stopni i przesuwa go w górę o 10% wysokości obrazka */
  transform-origin: top right;
  /* Ustala punkt obrotu na górny prawy róg */
  z-index: -1;
  /* Umieszcza obrazek nad innymi elementami */
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  /* Opcjonalne przycinanie, aby dopasować kształt obrazka */
  opacity: 0.5;
  /* Ustala przezroczystość obrazka na 50% */
}

.navPage3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  padding-top: 5rem;
}

.logoPage3 {
  width: 8vh;
  height: auto;
  margin-bottom: 1rem;
}

.listPage3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.numberPage4 {
  font-family: var(--font-secondary);
  color: var(--brand-grey);
  font-size: 1rem;
  text-align: center;
}
.menuItem4{
  font-family: var(--font-secondary);
  color: var(--brand-caramel);

}

.worksSection {
  display: flex;
  flex-direction: column;
  width: 80%;
  height:100%;
  padding: 0;
  padding-top: 8vh;
  padding-right: 40vh;
  

}

.worksHeader {
padding-right: 4vh;
padding-bottom: 2rem;
  font-family: var(--font-primary);
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--brand-grey);
  letter-spacing: 1em;
  text-align: right;
  box-shadow: #caa88e;
  color: transparent;
  background: linear-gradient(var(--gradient-angle, 45deg),
      rgba(0, 0, 0, 0.632),
      rgba(241, 239, 238, 0.326)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 247 247' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.14' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  -webkit-background-clip: text;
  background-clip: text;


}

.worksListing {
  display: flex; /* Sprawia, że element dopasowuje swoją szerokość do tekstu */
  flex-direction: column;
  align-items: center;
  margin-left: 8rem;
  font-family: var(--font-secondary);
  font-size: 0.9rem;
  line-height: 0.5;
  letter-spacing: 0.05em;
  text-align: right; 
  color: var(--brand-grey);
  padding: 0.5rem 1rem 0.5rem 0;
  margin-left: 40vh;
 

}

.worksListing:hover {
  border-style: solid;
 
  border-width: 2px;
  border-color:  rgba(202, 168, 142, 0.438)  transparent rgba(202, 168, 142, 0.192) transparent;
}




/* PAGE FIVE */


.pageFive {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Ensure no overflow */
  

}



.containerFive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 85vh;
  background-color: transparent;
  margin: 0 auto;
  position: relative;
  /* Dodane, aby umożliwić absolutne pozycjonowanie obrazka */
 

}


.navPage5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  padding-top: 5rem;
  
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}



.listPage5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.numberPage5 {
  font-family: var(--font-secondary);
  color: var(--brand-caramel);
  font-size: 1rem;
  text-align: center;
}


.menuItem5 {
  font-family: var(--font-secondary);
  color: var(--brand-grey);

}

.contact {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  padding: 20px 0;
  background: linear-gradient(var(--gradient-angle, 90deg), rgb(255, 255, 255), rgba(241, 239, 238, 0.326)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 247 247' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.14' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: cover;
  border-radius: 10px;
}

.header {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 4.5rem;
  padding-bottom: 2rem;
  font-family: var(--font-decorational);
  font-weight: 800;
  font-size: 7rem;
  line-height: 0.6;
  color: transparent;
  background: linear-gradient(var(--gradient-angle, 190deg),
      rgb(255, 255, 255),
      rgba(241, 239, 238, 0.326)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 247 247' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.14' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  -webkit-background-clip: text;
  background-clip: text;

}

.contactLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: var(--font-primary);
  color: var(--brand-grey);
  font-size: 1.2rem;
  padding-right: 8em;

}


.contactLinks p span:hover {
  border-style: solid;
   border-width: 2px;
  border-color:  rgba(202, 168, 142, 0.438)  transparent rgba(202, 168, 142, 0.192) transparent;
}


.links {
  text-align: right; /* Wyjustowanie tekstu do prawej */
  line-height: 1.5;
}
.stretched {
  letter-spacing: 0.2em; /* Zwiększa odstępy między literami */
}
.stretched-medium {
  letter-spacing: 0.15em; /* Średnie odstępy dla LinkedIn */
}

.stretched-small {
  letter-spacing: 0.1em; /* Mniejsze odstępy dla GitHub */
}

.mail{
  letter-spacing: 0.2em;

}


/* PAGE NUMERATION */

.pageNumber {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: var(--font-decorational);
  font-size: 4rem;
  font-weight: bold;
  color: var(--brand-caramel);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  z-index: 10;
}

.pageNumber2 {
  color: var(--brand-cream);
}

.pageNumber3 {
  color: var(--brand-grey)
}

.pageNumber4 {
  color: white
}

.pageNumber5 {
  color:var(--brand-caramel)
}