@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --brand-cream: #f1efee;
  --brand-grey: #7c7c7c;
  --brand-caramel: #caa88e;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Fahkwang', sans-serif;
  --font-decorational: 'Cormorant Garamond', serif;

  max-width: 1521px;
  max-height: 743px;
}


body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}



#body {
  margin: 0;
  padding: 0;
  background-color: white;

}


/* NAVIGATION BAR TOP */

.navUp {
  display: flex;
  flex-direction: row;
  height: 5vh;
  align-items: center;
  justify-content: flex-end;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 3%;
  gap: 10px;
}


.fontNavUp {
  font-family: var(--font-primary);
  font-size: 1em;
  color: var(--brand-grey)
}


/* NAVIGATION BAR BOTTOM */

.navDown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 0.5vh;
}



.textLeft {
  font-family: var(--font-primary);
  font-size: 1em;
  color: var(--brand-grey);

}

.group-right {
  display: flex;
  flex-direction: row;
  gap: 5vh;
  margin-right: 20vh;
}


.textRight {
  margin-top: 1vh;
  font-family: var(--font-decorational);
  font-weight: 600;
  font-size: 1.5em;
  color: var(--brand-caramel)
}




/* PAGE ONE */

.middleSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 85vh;
  background: linear-gradient(var(--gradient-angle, 113deg), rgb(255, 255, 255), rgba(241, 239, 238, 0.326)),
           url("data:image/svg+xml,%3Csvg viewBox='0 0 247 247' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.14' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: cover;
  border-radius: 5px;
  margin: 0 auto;
  filter: contrast(100%) brightness(95%);
  transition: background 0.3s ease, filter 0.3s ease;
}


.fontLogo1, .fontLogo2 {
  font-family: var(--font-secondary);
  font-size: 5rem;

}

.logoOne {
  width: 10rem;
  height: auto;
  padding-left: 3vh;
  padding-right: 4vh;

}



/* PAGE TWO */

.pageTwo {
  background-color: var(--brand-cream);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.containerTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 85vh;
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;

}


.list {
  display: flex;
  flex-direction: row;
  width: 20%;
  gap: 1rem;
  margin-left: 5rem;
  margin-top: -10rem;
}

.number {
  font-family: var(--font-secondary);
  color: var(--brand-cream);
  font-size: 1rem;

}
.menuItem{
  font-family: var(--font-secondary);
  color: var(--brand-grey);
}


.about {
  background-image: url("src/assets/motylbw.png");  
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.description{
  font-family: var(--font-primary);
  color:white;
  width: 50vh;
  height:fit-content;
  margin-top: 60vh;
  margin-left: 50vh;
  background-color: var(--brand-caramel);
}










/* RESPONSIVENESS */

/* Mini screens */
@media (max-width: 400px) {
  .middleSection {
    padding-right: 15px;
    height: 50vh;
  }

  .fontLogo1, .fontLogo2 {
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 0;
  }

  .logoOne {
    width: 5rem;
    height: auto;
    margin-left: 10px;
    padding-right: 0;
  }

  .navDown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .group-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-right: 0;
  }

  .textRight {
    margin: 2vh 0 0 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.3em;
  }

  /* Centrowanie textLeft */
  .textLeft {
    font-size: 0.8em;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

/* Small screens */
@media (max-width: 550px) {
  .middleSection {
    padding-right: 15px;
    height: 50vh;
  }

  .fontLogo1, .fontLogo2 {
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 0;
  }

  .logoOne {
    width: 5rem;
    height: auto;
    margin-left: 10px;
    padding-right: 0;
  }

  .navDown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .group-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-right: 0;
  }

  .textRight {
    margin: 2vh 0 0 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.3em;
  }

  /* Centrowanie textLeft */
  .textLeft {
    font-size: 0.8em;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

/* Small-medium screens */
@media (min-width: 551px) and (max-width: 750px) {
  .fontLogo1, .fontLogo2 {
    font-size: 3.5rem;
  }

  .logoOne {
    width: 8.5rem;
    height: auto;
  }

  .textLeft {
    font-size: 0.8em;
    text-align: left;
    margin-left: 2%;
  }

  .group-right {
    gap: 2vh;
    margin-right: 1vh;
  }
}

/* Medium screens */
@media (min-width: 751px) and (max-width: 900px) {
  .fontLogo1, .fontLogo2 {
    font-size: 3.5rem;
  }

  .logoOne {
    width: 8.5rem;
    height: auto;
  }

  .group-right {
    gap: 2vh;
    margin-right: 4vh;
  }

  .textLeft {
    font-size: 0.8em;
    text-align: left;
    margin-left: 2%;
  }
}

/* Big screens */
@media (min-width: 901px) {
  .fontLogo1, .fontLogo2 {
    font-size: 5rem;
  }
}
